<div class="container">
    <div class="greeting">
      <div class="row">
        <div class="col-md-6">
            <span class="title">Hello, {{user}}</span>
        </div>
        <div class="col-md-6 text-right btn-padding">
            <a href="#" class="font-color">EDIT PROFILE</a>
          </div>
      </div>
    </div>
    
    <div class="card content">
        <div class="head">
            <p class="head-text">Provide us with these details, Ka kopo.</p>
        </div>
  
        <div class="card-body">
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">NAME</label>
            </div>
            <div class="col-md-6">
              <input type="text" id="name" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">SURNAME</label>
            </div>
            <div class="col-md-6">
              <input type="text" id="surname" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">ID NUMBER</label>
            </div>
            <div class="col-md-6">
              <input type="text" id="idnumber" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">GENDER</label>
            </div>
            <div class="col-md-6">
              <input type="text" id="gender" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">EMAIL ADDRESS</label>
            </div>
            <div class="col-md-6">
              <input type="text" id="email" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">CONTACT NUMBER</label>
            </div>
            <div class="col-md-6">
              <input type="text" id="contact" class="form-control">
            </div>
          </div>
        </div>
  
        <div class="sep">
          <p class="sep-text">Just in case</p>
        </div>
  
        <div class="card-body">
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">NAME</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="name" id="name" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">SURNAME</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="surname" id="surname" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">CONTACT NUMBER</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="contact" id="contact" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">MEDICAL AID</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="medi_aid" id="medi_aid" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">MEDICAL AID NUMBER</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="medi_number" id="medi_number" class="form-control">
            </div>
          </div>
  
          <div class="row one-row">
            <div class="col-md-5">
              <label class="title-label">MEDICAL CONDITIONS</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="medi_condition" id="medi_condition" class="form-control">
            </div>
          </div>
        </div>
        
        <button type="button" (click)="add_participant()" class="add-btn"><p class="add-text">ADD PARTICIPANT</p></button>
    </div>
  </div>