.content {
    margin-top: 240px;
    border: 1px grey solid;
}

.greeting {
    width: 50%;
    font-size: 40px;
    padding: 40px;
    text-align: center;
}

.greeting-header {
    color: red;
    width: 80%;
    text-align: center;
}

.greeting-body {
    width: 80%;
    text-align: center;
}

.reg-window {
    width: 50%;
    background: red;
    padding: 20px;
}

.title {
    padding: 10px;
}

.title1 {
    font-size: 30px;
    margin-right: 20px;
}

.title2 {
    font-size: 15px;
}

.btn-forgot {
    background: white;
    color: black;
    border: none;
    margin-top: 40px;
    font-size: 12px;
}

.btn-row {
    width: 100%;
    margin-bottom: 0px;
}
.btn-login {
    width: 50%;
    height: 40px;
    text-align: left;
    background: #666666;
    padding: 20 0;
    margin: 0 0;
    border: none;
    border-bottom-left-radius: 5px;
}

.btn-register {
    width: 50%;
    height: 40px;
    text-align: right;
    background: #b2b2b4;
    padding: 0 20;
    margin: 0 0;
    border: none;
    border-bottom-right-radius: 5px;
}