<div class="container">
  <div class="row content">
    <div class="greeting">
      <p class="greeting-header">Hi Mountie,</p>
      <p class="greeting-body">welcome to <br/> Dusty Rides'<br/> online system.</p>
    </div>

    <div class="reg-window">
      <div class="card lighten-1 text-center z-depth-1">
        <div class="title">
          <span class="title1">REGISTER</span>
          <span class="title2">Participant paying the entry fee, please register the account</span>
        </div>

        <div class="card-body form-login">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <input type="text" class="form-control" name="mail" formControlName="mail" placeholder="e-mail address" #mail/>
            </div>
            
            <div class="form-group">
              <input type="text" class="form-control" name="password" formControlName="password" placeholder="password" #password />
            </div>
          </form>
        </div>

        <a href="#" class="forgot-btn" (click)="forgot()">FORGOT YOUR PASSWORD</a>

        <div class="btn-group btn-row">
            <button type="button" class="btn-login" (click)="login()">LOG IN</button>
            <button type="button" class="btn-register" (click)="register()">REGISTER</button>
        </div>
      </div>

    </div>
  </div>
</div>