.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    background: red;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title-text {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.head {
    margin-left: 30px;
}

.detail {
    color: black;
    font-size: 15px;
}

.name {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.event {
    color: red;
    font-size: 30px;
}

.date {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.sep {
    background: red;
    color: white;
}

.sep-text {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.title-label {
    margin-top: 5px;
    float: right;
}

.one-row {
    padding: 10px;
}

.add-btn {
    font-size: 25px;
    color: black;
}

.continue-btn {
    font-size: 25px;
    background: black;
    color: white;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.show-btn {
    color: red;
}

.rule-title {
    font-size: 30px;
    font-style: italic;
}
